<nav>
    <div>
        <button mat-icon-button class="menu-icon" (click)="toggleNav()">
            <mat-icon>menu</mat-icon>
        </button>
        <button class="logo" color="my-custom-color" (click)="openSection('header')">Chiara Sava</button>
        <ul *ngIf="isNavExpanded">
            <li><button mat-button color="my-custom-color" (click)="openSection('research')">Research</button></li>
            <li><button mat-button color="my-custom-color" (click)="openSection('talks')">Talks</button> </li>
            <li><button mat-button color="my-custom-color" (click)="openSection('teaching')">Teaching</button></li>
            <li><button mat-button color="my-custom-color" (click)="openSection('links')">Some links</button> </li>
            <li><button mat-button color="my-custom-color" (click)="openSection('contact')">Contact</button></li>
        </ul>
    </div>
</nav>

