nav {
    position: fixed;
    background-color: #333;
    z-index: 10;
    padding: 10px;
    width: 100%;
}

div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #fff;
    border: none;
    background: none;
    font-size: 30px;
    margin-left: 20px;
}

ul {
    list-style: none;
    margin-right: 15px;
}

li {
    display: inline-block;
    margin-right: 20px;
    transition: padding 0.5s ease-in;
}

button[mat-button][color="my-custom-color"] {
    color: #fff;
}

.menu-icon{
    display: none;
    right: 10px;
    top: 10px;
    position: absolute;
    color: #fff;
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

.slide-left{
    animation: slideIn 0.3s ease-in;
}

@media screen and (max-width: 768px) {

    div{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menu-icon{
        display:flex;
    }
    
    .logo{
        margin-left: 0;
        margin-top: 15px;
    }
    
    ul {
        display: flex;
        flex-direction: column;
    }

    nav {
        height: auto;
        padding: 0px;
        padding-bottom: 10px;
        min-height: 50px;
    }

    li{
        opacity: 0;
    }

    @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateX(-20px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
    }
    
    .fade-in {
        animation: fadeIn 1s forwards;
    }
}