.parent{
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.profile-img {
    margin-bottom: 50px;
    max-width: 300px;
    border-radius: 15%;
    z-index: 1;
}

h1{
    font-size: 5em;
    margin-bottom: 30px;
}

h2{
    font-size: 2em;
}

section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: start;
    height: 100vh;
}

.image {
    position: absolute;
    width: 400px;
    height: auto;
    transition: transform 0.3s ease;
}

.clear-icon{
    position: absolute;
    right: 10px;
}

mat-card{
    width: 80%;
}

mat-card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.research-title{

}
.research-text{
    
}
.research-link{
    
}

.menu-icon{}

mat-drawer-container {
    background-color: white;
    width: 100%;
    height: 100%;
}
  
mat-drawer {
  padding: 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-list{
    width: 100%;
}

.talk-grid{
    width: 100%;
    align-items: flex-start;
}

.talk-list{
    align-items: flex-start;
}

.subject-list{
    width: 90%;
}

.div-header{
    position:relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentation-text{
    padding: 30px;
    width: 300px;
}

.about-me{
    text-align: center;
}

.navigation-buttons{
    display: flex;
    flex-direction: column;
}

mat-divider{
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    font-weight: bold;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: darkgrey;
}