<header>
    
    <mat-drawer-container [hasBackdrop]="true">
        <button mat-icon-button class="menu-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        <mat-drawer #drawer mode="over">
            <button mat-icon-button class="clear-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
                <mat-icon>clear</mat-icon>
              </button>
            <p class="presentation-text">
                I am a PhD student in IRMAR (University of Rennes) and Institut Fourier (University of Grenoble Alpes), since September 2021.
                I work under the supervision of Michel Brion and Matthieu Romagny.
                
                My research is mainly about the geometry of projective homogeneous varieties over fields of positive characteristic.
                Related subjects I am interested in are birational geometry and representation theory of reductive groups.
                
                My first projects were about classifying non-reduced parabolic subgroups in small characteristics.
                Here is my CV.
            </p>
            <div class="navigations-buttons">
                <button mat-button (click)="openSection('research')">Research</button>
                <button mat-button (click)="openSection('teaching')">Teaching</button>
                <button mat-button (click)="openSection('contact')">Contact</button>        
            </div>
        </mat-drawer>

        <div class="div-header">
            <img src="https://cdn3.iconfinder.com/data/icons/avatar-set/512/Avatar01-512.png" alt="Immagine di esempio">
            <h1>Chiara Sava</h1>
            <h2>Phd math student</h2>
        </div>
    </mat-drawer-container>
</header>

<section id="research">
    <h2>Research</h2>
    <mat-grid-list class="article-list" cols="3" rowHeight="2:1">
            <mat-grid-tile *ngFor="let card of cards">
                <mat-card>
                    <mat-card-content>
                        <h3>Title</h3>
                        <p>Description</p>
                        <a>Link ref</a>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
      </mat-grid-list>
</section>

<section id="teaching">
    <h2>Teaching</h2>
    <div class="subject-list">
        <div *ngFor="let i of subjects">
            <h3>Title subject</h3>
            <p>description</p>
            <a>Link</a>
            <mat-divider></mat-divider>
        </div>
    </div>
</section>

<section id="contact">
    <h2>Contact</h2>
    <form name="contact" method="POST" netlify>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" name="email" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Object</mat-label>
            <input type="text" name="object" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea matInput name="message"></textarea>
        </mat-form-field>
        <button class="send-button" mat-raised-button type="submit">Send</button>
    </form>
</section>