header{
    height: 100vh;
    /*background-image: url('../assets/img/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;*/
}

img {
    max-width: 80%;
    z-index: 1;
}

h1{
    font-size: 5em;
}

h2{
    font-size: 2em;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.image {
    position: absolute;
    width: 400px;
    height: auto;
    transition: transform 0.3s ease;
}

.clear-icon{
    position: absolute;
    right: 10px;
}

mat-card{
    width: 70%;
}

mat-card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-icon{}

mat-drawer-container {
    background-color: white;
    width: 100%;
    height: 100%;
}
  
mat-drawer {
  padding: 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-list{
    width: 100%;
}

.subject-list{
    width: 90%;
}

.div-header{
    position:relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentation-text{
    padding: 30px;
    width: 300px;
}

.navigations-buttons{
    display: flex;
    flex-direction: column;
}

.send-button{
    width: 30px;
}

form{
    width: 60%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

mat-divider{
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    font-weight: bold;
}