.parent{
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.profile-img {
    margin-bottom: 50px;
    max-width: 300px;
    border-radius: 50%;
    z-index: 1;
}

.sidebar {
    display: none;
}

h1{
    font-size: 5em;

}

h2{
    margin-top: 30px;
    font-size: 2.5em;
}

section{
    position: relative;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
    height: 100vh;
}

.image {
    position: absolute;
    width: 400px;
    height: auto;
    transition: transform 0.3s ease;
}

.clear-icon{
    position: absolute;
    right: 10px;
}

mat-card{
    width: 80%;
}

mat-card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.research-title{

}
.research-text{
    
}
.research-link{
    
}

.menu-icon{}

mat-drawer-container {
    background-color: white;
    width: 100%;
    height: 100%;
}
  
mat-drawer {
  padding: 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-list{
    width: 100%;
}

.talk-grid{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.talk-list{
    margin: 30px;
}

@media screen and (max-width: 600px) {
    .talk-list {
      width: 100%;
    }
  }

.subject-list{
    width: 90%;
}

.div-header{
    position:relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentation-text{
    padding: 30px;
    width: 300px;
}

.about-me{
    text-align: center;
}

.navigation-buttons{
    display: flex;
    flex-direction: column;
}

mat-divider{
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    font-size: 1.2em;
    font-weight: bold;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: darkgrey;
}