:root{
    --blue-light: #559BD9;
    --blue: #4D7A8C;
    --central: #283940;
    --adark-light: #152618;
    --dark: #040D01;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.parent{
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    background-color: #040D01;
}

.profile-img {
    height:300px;
    border-radius: 15%;
    z-index: 3;
}

.navbar {
    position: absoluteù;
    background-color: #333;
    padding: 15px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffcc00;
}

.sidebar {
    display: none;
}

h1{
    font-size: 90px;
    margin-bottom: 60px;
    color: #fff;
}

h2{
    font-size: 40px;
    z-index: 1;
    color: #fff;
}

h3{
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    color: #fff;
}

p{
    font-size: 18px;
    color: #fff;
}

a{
    font-size: 15px;
    color: #fff;
    z-index: 1;
}

span{
    color: #fff;
}

section{
    position: relative;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
    height: 85vh;
    padding-top: 15vh;
}

.header{
    height: 100vh;
    padding-top: 0px;
}

.image {
    position: absolute;
    width: 400px;
    height: auto;
    transition: transform 0.3s ease;
}

.clear-icon{
    position: absolute;
    right: 10px;
}

mat-card{
    width: 80%;
    z-index: 2;
}

mat-card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

mat-list-item{
    z-index: 1;
}

.research-title{

}
.research-text{
    
}
.research-link{
    
}

.menu-icon{}

mat-drawer-container {
    background-color: white;
    width: 100%;
    height: 100%;
}
  
mat-drawer {
  padding: 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.article-list{
    width: 100%;
}

.talk-grid{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.talk-list{
    margin: 30px;
}

.subject-list{
    width: 90%;
}

.div-header{
    position:relative;
    top:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.header-background{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.full-screen-header{
    display: flex;
    flex-direction: row;
    padding: 100px;
    align-items: center;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
}

.black-color{
    color: #000;
}

.presentation-text{
    padding: 30px;
    width: 300px;
}

.about-me{
    text-align: center;
}

.about-me-button{
    display: none;
}

mat-divider{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: rgb(139, 139, 139);
    margin-top: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    z-index: 1;
}

.about-me-text{
    font-size: 23px;
    line-height: 150%;
    max-width: 800px;
    margin-right: 50px;
}

.avatar{
    max-width: 50px;
    margin-left: 10px;
    transform: translateY(-10%);
}

.footer-text{
    font-size: 20px;
    color: #fff;
}

.riccardoventurini{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-left-in {
    animation: slideLeft 1s ease-in;
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-right-in {
    animation: slideRight 1s ease-in;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-up-in {
    animation: slideUp 1s ease-in;
}

@media screen and (max-width: 1200px) {
    .full-screen-header{
        padding: 80px;
    }

    .about-me-text{
        font-size: 18px;
    }

    .profile-img{
        height:250px;
    }

    h1{
        font-size: 80px;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 768px) {
    .about-me-text{
        display: none;
    }

    .about-me-button{
        display: flex;
        margin-top: 5%;
    }

    .profile-img {
        height: 30vh;
        max-height: 300px;
        border-radius: 50%;
    }

    .div-header{
        top:20vh;
    }

    h1{
        font-size: 70px;
        margin-bottom: 45px;
    }
}